# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
project1/android/gradlew
project1/android/gradlew.bat
project1/android/local.properties
project1/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
project1/android/gradle/wrapper/gradle-wrapper.jar
project1/ios/Flutter/flutter_export_environment.sh
project1/ios/Flutter/Generated.xcconfig
project1/ios/Runner/GeneratedPluginRegistrant.h
project1/ios/Runner/GeneratedPluginRegistrant.m
project1/macos/Flutter/ephemeral/flutter_export_environment.sh
project1/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
